<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<header>
    <i class="fa fa-bars toggleMenu loggedIn" aria-hidden="true"></i>
    <a href="/search">
        <img src="/img/logo.svg" alt="ShipServ logo" width="150">
    </a>
    <div class="navigations loggedIn">

        <nav id="pagesNav" class="primaryNavUl">
            <ul class="menu menu-0">
                <li class="menu-item">
                    <a class="menu-label" href="/search">Search</a>
                </li>
                <li class="menu-item">
                    <span class="menu-label">Sell</span>
                    <ul class="menu menu-1">
                        <li class="menu-item">
                            <a class="menu-label" href="/trade/rfq">Pages RFQs</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-label" href="/trade/block-buyer">RFQ blocked list</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <span class="menu-label">Analyse</span>
                    <ul class="menu menu-1">
                        <li class="menu-item">
                            <a class="menu-label" href="/reports/#showConversion">Sales Funnel</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-label" href="/reports/#showTransaction">Billable Transactions</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-label" href="/reports/sir-details">Detailed Breakdown</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-label" href="/reports/#showCustomers">Customers</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-label" href="/reports/kpi-trend/new">KPI Trend Report</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <span class="menu-label">Account</span>
                    <ul class="menu menu-1">
                        <li class="menu-item">
                            <span class="menu-label">Kim Narcisse Deraco</span>
                            <ul class="menu menu-2">
                                <li class="menu-item">
                                    <a class="menu-label" href="/profile">My Info</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/profile/companies">My Companies</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/profile/my-reviews">My Reviews</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/profile/notifications">Settings</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <span class="menu-label">ShipServ Global</span>
                            <ul class="menu menu-2">
                                <li class="menu-item">
                                    <a class="menu-label" href="/profile/company-profile/type/v/id/219195">Company Profile</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/profile/company-people/type/v/id/219195">Users</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/profile/company/type/v/id/219195">Privacy</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/profile/company-brands/type/v/id/219195">Brands (10)</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/profile/company-settings-pages/type/v/id/219195">Pages Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item shipTab">
                    <span class="menu-label shipTab">ShipMate</span>
                    <ul class="menu menu-1">
                        <li class="menu-item">
                            <a class="menu-label" href="/shipmate/scorecard">ScoreCard</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-label" href="/webreporter?tab=shipmate">WebReporter</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-label" href="/user/login-to-pages-adm" target="_blank">Pages Admin</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-label" href="/user/login-to-admin-gw" target="_blank">Gateway</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-label" href="/shipmate/txnmon/new">Txn monitor</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-label" href="/kpi/web/login" target="_blank">KPI Report</a>
                        </li>
                        <li class="menu-item">
                            <span class="menu-label">GMV Report</span>
                            <ul class="menu menu-2">
                                <li class="menu-item">
                                    <a class="menu-label" href="/reports/market-sizing">Market Sizing Tool</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/reports/gmv">Supplier</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/reports/supplier-stats">Supplier statistics</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/reports/supplier-conversion">Supplier conversion</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/buyer/gmv">Buyer</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <span class="menu-label">Match</span>
                            <ul class="menu menu-2">
                                <li class="menu-item">
                                    <a class="menu-label" href="/match/usage-report?doc=">Usage Report</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/match/efficiency?doc=">Efficiency</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/match/adoption-kpi">Adoption Report</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/match/conversion-kpi">Conversion Report</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/match/inbox">Inbox</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/match/sent-box">Forwarded items</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/match/update-algo-values">Engine</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/match/update-match-stopwords">Stopwords</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/match/automatch-stats">Automatch stats</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/shipmate/target-segments">Target segments</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <span class="menu-label">Finance</span>
                            <ul class="menu menu-2">
                                <li class="menu-item">
                                    <a class="menu-label" href="/ShipServ/JSP/Txn_Pack_Details.jsp" target="_blank">PO Pack</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/shipmate/value-event">Value Event Upload</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/shipmate/vbp-health-check">VBP Health check</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/reports/invalid-txn-picker">Invalid Txn Tools</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/reports/billing">Billing Report</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/shipmate/po-rate">PO Rate</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/shipmate/erroneous-transactions">Erroneous Transactions</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <span class="menu-label">Dashboards</span>
                            <ul class="menu menu-2">
                                <li class="menu-item">
                                    <a class="menu-label" href="/reports/internal-supplier-kpi">Internal Supplier KPI</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/reports/engagement">Engagement</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/reports/supplier/response-rate">Paying Supplier Response</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/reports/pages-dashboard">Pages</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/reports/sso-dashboard?paying=1">SSO</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/reports/transactions">Tradenet usage</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/reports/pages">Pages Activity</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/reports/brand-management">Brand management</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/shipmate/buyer-usage-dashboard">Buyer Application Usage</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/shipmate/supplier-usage-dashboard">Supplier Application Usage</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <span class="menu-label">User & ShipMate Administration</span>
                            <ul class="menu menu-2">
                                <li class="menu-item">
                                    <a class="menu-label" href="/shipmate/manage-user">Company & User Management</a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-label" href="/profile/manage-group">ShipMate Access Control</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a class="menu-label" href="/shipmate/buyer-connect-admin">Buyer Connect Admin</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="company">

            <!-- ShipMates -->
            <form action="/user/switch-company">
                <input name="tnid" type="text" value="" placeholder="S - 219195 - ShipServ Global ">
            </form>

            <!-- No company -->
        </div>
        <nav id="corporateNav">
            <ul class="top">
                <li class="">
                    <a href="/info/save-time-and-money-with-tradenet">
                        Buyer Solutions </a>
                </li>
                <li class="">
                    <a href="/info/pages-for-suppliers">
                        Supplier Solutions </a>
                </li>
                <li class="">
                    <a href="/info/the-community">
                        Customers </a>
                </li>
                <li class="">
                    <a href="/info/about-us">
                        About </a>
                </li>
                <li class="">
                    <a href="/info/help">
                        Help </a>
                </li>
                <li class="">
                    <a href="/info/contact-us">
                        Contact Us </a>
                </li>
                <li>

                    <a href="https://www.shipserv.com/auth/cas/login" title="Tradenet" target="_blank">TradeNet</a>
                </li>

                <li>
                    <a href="/user/logout" title="Sign out Kim Narcisse">Sign out Kim Narcisse</a>
                </li>
            </ul>
        </nav>
        <div class="clear"></div>
    </div>
</header>