footer {
    background: $dk-navy;
    color: #ccc;
    a {
        color: #fff;
    }
    ul {
        padding: 0;
        li {
            list-style: none;
        }
    }
    .logo {
        margin-top: 10px;
        display: inline-block;
    }
    .social-links {
        text-align: right;
        li {
            display: inline-block;
            margin: 10px 5px;
            font-size: 1.5em;
        }
    }
}